/* style body tags */
body{
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../Image/img4.png);
    
}

.links{
    margin: 70px;
    margin-left: 430px;
    background-color: white;
    margin-right: 375px;
    height: 50px;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: -40px;
}


.links a{
    color: black;
    text-decoration: none;
    padding-right: 45px;
    
}

.menu{
    background-color:white;
    padding-top: 3px;
    padding-bottom: -3px;


}

.logo img{
    margin-left: 90px;
    margin-top: 25px;
}

a:hover{
    color: green;
}
/* style contactus tags */
.contactus{
    background-color: white;
}
.form{
    width:650px;
    height:630px;
    position:absolute;
    margin-left:20px;
    margin-top:-220px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
}

.form p{
    font-size: medium;
    margin-left: 30px;
}

.form input{
    width:240px;
    height:35px;
    background: white;
    color:black;
    border-bottom: 1px solid skyblue;
    border-top: none;
    border-right: none;
    border-left: none;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 30px;
}

.form h1{
    text-align: center
}

.btn{
    width:90px;
    height:40px;
    background: black;
    border:none;
    margin-top: 30px;
    font-size:18px;
    font-weight: bold;
    border-radius: 10px;
    margin-left:250px;
    color: white;
    cursor: pointer;
}
/* style storeinfo tags */
.storeinfo {
    padding-left: 900px;
}
